# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

.flutter-plugins

# VS Code
.vscode

# Android studio
.idea
*.iml
GeneratedPluginRegistrant.*

# Generated android files
chringo/android/.gradle
chringo/android/local.properties

# Generated ios files
chringo/ios/Runner